.filter-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-evenly;
  width: 100%;
}

fieldset {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

input {
  margin-left: 5px;
}
