.filter-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-around;
  width: 100%;
}

input {
  background-color: transparent;
  margin-left: 5px;
}

.planet-search {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fasearch {
  left: 6vh;
  position: relative;
}

.planet-search input {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 16px;
  height: 42px;
  text-align: center;
  width: 671px;
}

.filterbar-filters {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.filterbar-filters input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 8px;
  width: 80px;
}

.filterbar-filters select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

button {
  background-color: transparent;
  border: 1px solid yellow;
  color: yellow;
}
